<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405207262577-g796f0kbl9kdpeo1vtu1c66h82pdbium.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405207262577-g796f0kbl9kdpeo1vtu1c66h82pdbium</string>
	<key>API_KEY</key>
	<string>AIzaSyAW1rvQ7xoOg8kNM7coyBwCBTYFroOK5gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>405207262577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>carlos.CaraLibro</string>
	<key>PROJECT_ID</key>
	<string>caralibro-3e041</string>
	<key>STORAGE_BUCKET</key>
	<string>caralibro-3e041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405207262577:ios:0f8d5b88430e950b0402d0</string>
</dict>
</plist>